@import url('https://fonts.googleapis.com/css?family=Aldrich');

.detailCard {
    width: 300px;
    border: 10px solid #2E6DB5;
    border-radius: 10px;
}

.ant-card-head{
    color: white !important;
    background-color: #2E6DB5 !important;
    border: #2E6DB5 solid !important;
    margin: -3px;
    margin-bottom: 0 !important;

    font-family: 'Aldrich';
    font-weight: 400 !important;
    font-size: 26px !important;
}

.elements-description{
    margin-block: 0.25rem;
}